<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stuffery</title>
</head>
<body class="text-light bg-dark">
 
  <div class="container-fluid p-4">
    

    <div ng-app="invoice1" ng-controller="inv1Ctrl as inv1">

      <b>Invoice:</b>
      <div class="form-group row">
        <label for="inputQty" class="col-sm-1 col-form-label">Quantity:</label>
        <div class="col-sm-2">
          <input id="inputQty" type="number" min="0" class="form-control"
                 ng-model="inv1.qty" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputCost" class="col-sm-1 col-form-label">Cost:</label>
        <div class="col-sm-2">
          <input id="inputCost" type="number" min="0" class="form-control"
                 ng-model="inv1.cost" required>
        </div>
        <div class="col-sm-1">
          <select class="form-control" ng-model="inv1.inCurr">
            <option ng-repeat="curr in inv1.currArr">{{ curr }}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Total:</label>
        <label class="col-sm-1 col-form-label"
               ng-repeat="curr in inv1.currArr">
          {{ inv1.total(curr) | currency }}
        </label>
        <div class="col-sm-1">
            <button class="btn btn-secondary" ng-click="inv1.pay()">Pay</button>
        </div>
      </div>

      

    </div> 
 
 
 
  </div>

</body>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<!-- AngularJS -->
<script src="angular1.4.6.js"></script>

<!-- My code -->
<script src="code0.js"></script>

</html>